*.o*
*.mod*
*.ko*
*.order*
*.symvers*
*~*
*#*
bkp/*
.cache/*
build/*
.cache
example/.cache
compile_commands.json
subprojects/c_minilib_error
subprojects/lvgl
subprojects/stc
subprojects/unity
subprojects/curl
error.txt
cache.json